.App {
  text-align: center;
}
.kityminder-core-container{
  width: 100%;
  height: 800px;
}
.km-btn-item {
  text-align: center;
}
.km-btn-item[disabled] {
  opacity: .5;
}
.km-btn-item:hover {
  background-color: #eff3fa;
}